@use "../../designs.scss";
@use "sass:math";

$padding: 1rem;

.other-info {
	// font-size: 120%;
	display: flex;
	flex-direction: row;
}

.other-info-item {
	display: flex;
	flex-direction: row;
	font-size: 120%;

	& i.fa-angles-right {
		margin: {
			left: $padding;
			right: $padding;
		}
	}
}

.logo-underliner {
	margin: {
		left: $padding * 2;
		right: $padding * 2;
	}

	display: flex;
	align-items: center;
}

.burger-wrapper {
	display: flex;
	flex-direction: row;

	align-content: center;


	&>.burger-label {
		display: inline-flex;
		align-items: center;

		margin-right: $padding;
	}
}

.burger-link-wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.nav-home-link {
	text-align: center;

	border-radius: 50%;
	padding: math.div($padding, 1.5);
	max-width: 2.5rem;
	max-height: 2.5rem;

	align-self: center;

	&:hover {
		animation: nav-home-fade-in .2s forwards;
	}
}

@keyframes nav-home-fade-in {
	to {
		@if designs.accented-font-color()==designs.pop-color() {
			background-color: #fff;
		}

		@else {
			background-color: designs.accented-font-color();
		}
	}
}

#map-img {
	width: 2.5rem;
	height: 2.5rem;
}

.mobile-view {
	// display: none;
	position: fixed;

	right: $padding;
}

.hamburger-nav {
	display: flex;
	flex-direction: column;
	background-color: designs.primary-color();
	padding: $padding;
	font-size: 200%;
	border-radius: 25px;
	border: solid designs.accented-font-color() 10px;

	& a {
		// text-decoration: none;
		color: designs.accented-font-color();
		margin-bottom: math.div($padding, 2);

		&:hover {
			animation: burger-link-hover .25s forwards;
		}
	}
}

@keyframes burger-link-hover {
	to {
		@if designs.pop-color()==designs.accented-font-color() {
			color: #fff;
		}

		@else {
			color: designs.pop-color();
		}
	}
}

.burger-nav-open {
	animation: nav-slide-in .5s forwards;
}

.burger-nav-close {
	animation: nav-slide-out 1s forwards;
}

.burger-nav-wrapper {
	max-height: 60vh;
	z-index: 10000;

	position: fixed;
	top: 0;
	bottom: 0;
	right: math.div($padding, 3);

	margin: auto;

	display: flex;

	// right: $padding;
	justify-content: center;
}

@keyframes nav-slide-in {
	from {
		transform: translateX(1000px);
		opacity: 1;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes nav-slide-out {
	to {
		transform: translateX(1000px);
		opacity: 1;
	}

	from {
		transform: translateX(0px);
		opacity: 1;
	}
}

.logo-text {
	font-size: 325%;
	font-family: 'Regal', arial;
	color: designs.pop-color();
}

$banner-height: 4rem;

.top-banner {
	background-color: designs.primary-color();
	color: designs.accented-font-color();
	padding: $padding;
	width: 100vw;
	position: fixed;
	min-height: $banner-height;
	display: flex;
	align-content: center;
	z-index: 10;

	.top-banner-elements {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

@media only screen and (min-width: 1800px) {
	.top-banner {
		font-size: 150%;
	}
}

@media only screen and (min-width: 2500px) {
	.top-banner {
		font-size: 200%;
	}

	div.routes-wrapper {
		padding-top: $banner-height * 2;
	}
}

///
/// BIGGER SCREENS ABOVE ^^^
///
/// SMALLER SCREENS BELOW...
/// 

@media only screen and (max-width: 400px) {
	.logo-underliner {
		margin-left: $padding;
		margin-right: $padding;
	}
}

@media only screen and (max-width: 350px) {
	.logo-text {
		font-size: 270%;
	}
}

@media only screen and (max-width: 300px) {
	.logo-text {
		font-size: 210%;
	}
}

@media only screen and (max-width: 250px) {
	.logo-text {
		font-size: 150%;
	}
}

@media only screen and (max-width: 250px) {
	.logo-text {
		font-size: 125%;
	}
}