.fancy-underline {
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;
    height: 100%;

    &[data-direction="ltr"] {
        background-position: left 90%;
    }

    &[data-direction="rtl"] {
        background-position: right 90%;
    }
}

.fancy-underline:hover {
    background-size: 100% 4px;
}